@use 'variables' as *;
@use 'form';
@use 'layout';

@use "tailwindcss";


// styles.scss or main.scss
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;

  height: 100%;
  width: 100%;
}