@use 'variables' as *;
@use 'form';
@use 'layout';



// styles.scss or main.scss
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;

  height: 100%;
  width: 100%;
}


/* =========================
   THEME VARIABLES
========================= */

/* LIGHT */
:root {
  --bg-main: #f4f6f8;
  --bg-surface: #ffffff;
  --text-main: #333333;
  --text-muted: #666666;
  --border: #cccccc;
  --primary: #3f51b5;
}

/* DARK */
body.dark-mode {
  --bg-main: #121212;
  --bg-surface: #1e1e1e;
  --text-main: #f5f5f5;
  --text-muted: #b0b0b0;
  --border: #333333;
  --primary: #90caf9;
}

/* GLOBAL APPLY */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
}