
.auth-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.auth-left {
  flex: 3;
  background: url('/assets/backGround.png') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  text-align: right;

  .logo {
    max-width: 80px;
    margin-bottom: 1rem;
    align-self: flex-start; // keep logo on left edge
  }


.text-wrapper {
    align-self: flex-end;
    text-align: right;
    max-width: 80%;
    margin-right: 1.5rem;
    margin-top: -120px;
    font-family: "PT Serif", serif;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;  // move the whole text block up


    h1 {

      font-size: 2.55rem;
      color: black;
      margin-bottom: 1.5rem;  // keep spacing to p
    }

    p {
      font-size: 1.2rem;
      color: black;
      margin-top: 0;  // no overlap
    }
  }

    h1 {
        font-size: 2.5rem; // larger font size for the heading
        margin-bottom: 1.5rem;    }

    p {
        font-size: 1.2rem;
    }

 @media (max-width: 768px) {
    height: auto;
    flex: none;
    background: none;          // remove the background image
    padding: 1rem 1rem 0.5rem 1rem;

    .logo {
      display: none;           // hide the logo image
    }
    .text-wrapper {
        margin-top: 0; // Reset negative top margin
        margin-right: 0; // Optional: center it horizontally
        text-align: center;
        align-self: center;

        h1 {
        font-size: 1.5rem;
        color: black;
        margin-bottom: 0.5rem;
        text-shadow: none; // optional
        }

        p {
        display: none; // Hide paragraph on mobile
        }
    }
  }
}

.auth-right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main);

}






